<div class="cbox">
<h2>Instructions</h2>
<% if current_user.nil? %>
  <p>Please <%= link_to 'sign in', new_user_session_path %> to add a report to the map.</p>
<% else %>
  <p>Press anywhere on the map to add a report. Alternatively, <%= link_to 'add a report using your device location', new_report_path %>.</p>
<% end %>

<style>
#map-container {
  height: 500px;
}
</style>
<div id="map-container"></div>

<%= javascript_pack_tag 'home_page_map' %>
</div>