<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Roles:</strong>
</p>

<ul>
  <% @user.role.each do |role| %>
    <li><%= role.name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
