<h2>About</h2>

<p>Shortage tracker is a project of <a href="https://www.osinthk.org/">OSINT HK</a>. We are grateful for your support and interest. Get in touch with us about this project at <a href="mailto:shortage-tracker@ostinthk.org">shortage-tracker@ostinthk.org</a>.</p>

<p>Shortage Tracker is an Open Source project. <a href="https://github.com/OSINThk/shortage-tracker">You can find the code for this project on GitHub.</a></p>


<h2> 关于</h2>
<p>
  短缺跟踪器是<a href="https://www.osinthk.org/">OSINT HK</a>的一个项目。 我们感谢您的支持和关注。 与我们联系有关此项目的电子邮件，短缺程度为tracker@ostinthk.org 。</p>

<p>
  Shortage Tracker是一个开源项目。 您可以在<a href="https://github.com/OSINThk/shortage-tracker">
    GitHub</a>上找到该项目的代码。
  </p>
