<h2>About - zh-CN</h2>

<p>Shortage tracker is a project of <a href="https://www.osinthk.org/">OSINT HK</a>. We are grateful for your support and interest. Get in touch with us about this project at <a href="mailto:shortage-tracker@ostinthk.org">shortage-tracker@ostinthk.org</a>.</p>

<p>Shortage Tracker is an Open Source project. <a href="https://github.com/OSINThk/shortage-tracker">You can find the code for this project on GitHub.</a></p>
