<h3>Create a New Report</h3>

<strong> Instructions </strong>
<p>First tell us your location, you can also name this report in the Notes box. 
The populate location button will automatically get your coordinates. 
Add products below. You can add or remove as many as you like on this page.</p>

<%= render 'form', report: @report, products: @products %>

<%= link_to 'Back', reports_path %>
